.header__button {
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 12px;
    background: #FF7757;
    cursor: pointer;
}