.header {
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 182px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
}