// .header__img {
//    width: 100%;
//    height: 1194px;
// }

.header__img {
    background-image: url(../../../../img/fone.png);
    background-size: cover;
    background-position: center;
    height: 1194px;
}